@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1072px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.exam {
    padding: 20px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 199px;
    cursor: pointer;
}

.image {
    width: 148px;
    height: 98px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    margin-bottom: 33px;
}

.info h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2B2A2A;
    margin-bottom: 5px;
}

.info span {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #8A7E7E;
}

.buttons {
    display: flex;
    gap: 9px;
}