@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1072px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.login {
    width: 100%;
    padding: 82px 53px;
}

.login__content {
    background: #F5F5FF;
    border-radius: 35px;
    display: flex;
}

.login__details {
    width: 50%;
    padding: 85px 90px;
}

.board {
    background: #FFFFFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);

    border-radius: 20px;
    padding: 40px 40px;

}

.exam-tests {
    width: 50%;
    background-image: url('./../../assets/images/OM6UUZ0\ 1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.board__heading {
    margin-bottom: 55px;
}

.board__heading h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #2B2A2A;

    margin-bottom: 7px;
}

.board__heading span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #8A7E7E;
}

.board__form {
    margin-bottom: 20px;
}

.input-password {
    width: 100%;
    position: relative;
    margin-top: 16px;
}

.eye-image {
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translate(-50%, 100%);
    cursor: pointer;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
    margin-bottom: 20px;
}

.forgot-password__link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #675AF0;
}

.checkbox {
    width: 23px;
}

.privacy-policy {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 182px;
}


.privacy-policy__text p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #8A7E7E;
}

.privacy-policy__text span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #675AF0;
}

.privacy-policy__link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #675AF0;
}