.questions {
    background: #FFFFFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    padding: 50px 30px;
}

.heading {
    text-align: center;
    margin-bottom: 46px;
}

.student-name {
    width: 869px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
}

.student-name span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2B2A2A;
}

.exam-time {
    width: 300px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    gap: 14px;
}

.exam-time span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2B2A2A;
}

.items {
    display: flex;
    gap: 77px;
}
.timer{
    width: 54px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 27px;
color: red;
/* background-color: red;   */
}