@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1072px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.register {
    width: 100%;
    padding: 82px 53px;
}

.register__content {
    background: #F5F5FF;
    border-radius: 35px;
    display: flex;
}

.register__details {
    width: 50%;
    padding: 85px 90px;
}

.register__board {
    background: #FFFFFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);

    border-radius: 20px;
    padding: 40px 40px;

}

.exam-tests {
    width: 50%;
    background-image: url('../../assets/images/OM6UUZ0\ 1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.board__heading {
    margin-bottom: 55px;
}

.board__heading h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #2B2A2A;
    margin-bottom: 7px;
}

.input-password{
    width: 100%;
    position: relative;
}
.input-password img{
    position: absolute;
bottom: 50%;
right: 0;
transform: translate(-50%,100%);
cursor: pointer;
}

.who-are-you {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.who-are-you__heading h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B2A2A;
    margin-bottom: 10px;
}

.options {
    display: flex;
    gap: 36px;
}

.options__student {
    display: flex;
    gap: 12px;
}

.student__checkbox {
    width: 23px;
}

.options__student span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #2B2A2A;
}

.options__teacher {
    display: flex;
    gap: 12px;
}

.teacher__checkbox {
    width: 23px;
}

.options__teacher span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #2B2A2A;
}

.board-form {
    margin-bottom: 20px;
}

.input-email{
    margin: 16px 0;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #8A7E7E;
    margin-bottom: 20px;
}

.forgot-password__link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #675AF0;
}

.checkbox {
    width: 23px;
}

.privacy-policy {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 42px;
}


.privacy-policy__text p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #8A7E7E;
}

.privacy-policy__text span {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #675AF0;
    cursor: pointer;
}

.privacy-policy__link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #675AF0;
}

.or {
    display: flex;
    justify-content: center;
    margin: 20px 0;

}

.or span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #8A7E7E;
    position: relative;
}

.or span::before {
    content: "";
    width: 100px;
    border: 1px solid #C5C4C4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
}

.or span::after {
    content: "";
    width: 100px;
    border: 1px solid #C5C4C4;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}