.button {
    width: 100%;
    border-radius: 8px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
}

.button--white {
    background-color: #FFFFFF;
    color: #3F80BB;
    border: 2px solid #3F80BB;
}

.button--primary {
    background-color: #675AF0;
    color: #FFFFFF;
    border: 2px solid #675AF0;
}


.button--secondary{
    background-color:  #EBB44A;
    border: 2px solid #EBB44A;
}

.button--sm {
    height: 23px;
}

.button--md {
    height: 43px;
}

.button--lg {}