.input{
    width: 100%;
    border: 1px solid #D2D2D2;
    border-radius: 6px;
    text-indent: 10px;
}
.input--sm{
    height: 23px;
}
.input--md{
    height: 46px;
}

.label{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #8A7E7E;
margin-bottom: 4px;
}

.form :nth-child(2){
    margin-bottom: 15px;
}

.forgot__password{
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
}
.forgot__password span{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #8A7E7E;
}

.checkbox{
    width: 23px;
}



