@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1072px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.student {
    width: 24%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.image {
    background: #675AF0;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 120px;
    position: relative;
}

.student img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    outline: 4px solid #675AF0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    object-fit: cover;
    z-index: 9999;
}

.info {
    height: 249px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-left: 20px;
}

.info h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #2B2A2A;
}

.info span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #2B2A2A;
}