@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1072px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.button {
    width: 100%;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
}

.button--white {
    background-color: #FFFFFF;
    color: #675AF0;
    border: 2px solid #675AF0;
}

.button--white__shadow {
    background: #FFFFFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: none;
    color: #A39D9D;
}


.button--primary {
    background-color: #675AF0;
    color: #FFFFFF;
    border: 2px solid #675AF0;
}


.button--secondary {
    background-color: #EBB44A;
    border: 2px solid #EBB44A;
    color: #FFFFFF;
}

.button--sm {
    height: 29px;
    font-size: 11px;
}

.button--md {
    height: 43px;
}

.button--lg {
    height: 46px;
}