@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.input {
    width: 100%;
    border: 1px solid #D2D2D2;
    border-radius: 6px;
    text-indent: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #8A7E7E;
}

.label {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #8A7E7E;
    margin-bottom: 4px;
    display: inline-block;
}

.input--sm {
    height: 23px;
}


.input--md {
    height: 40px;
}

.input--lg {
    height: 46px;
}

.input--none {
    border: none;
}

.input--center {
    text-align: center;
}

.input--primary {
    background-color: #675AF0;
}
.input--white{
    color: #FFFFFF;
}


.input--cursor{
    cursor: pointer;
}