* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

.content__info h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 19px;
}

.content__info span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
}

.content__info__buttons {
    gap: 16px;
    display: flex;
    margin-top: 45px;
}

.start__button {
    width: 129px;
}

.more__button {
    width: 129px;
}

.final-exams__content {
    height: 450px;
    background: #675AF0;
    display: flex;
    align-items: center;
}

.final-exams__items {
    display: flex;
    flex-direction: column;
    background: #F5F5FF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    transform: translateY(-24px);
    border-radius: 8px;
}

.final-exams__cards {
    padding: 24px 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 16px;
}

.final-exams__button {
    width: 129px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.entered-exam__content {
    padding: 24px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.entered-exam__heading {
    margin-bottom: 16px;
}

.entered-exam__heading h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #675AF0;
}



.entered-exam__text {
    margin-bottom: 77px;
}

.entered-exam__text p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #2B2A2A;
}

.entered-exam__icons {
    margin-bottom: 26px;
    display: flex;
    gap: 16px;
}

.entered-exam__info {
    display: flex;
}

.info__content:nth-child(2) {
    margin-left: 90px;
    margin-right: 130px;
}

.info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__heading span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #8A7E7E;
}

.info__button {
    width: 83px;
    margin-top: 16px;
}

.mathQuiz-about {
    width: 100%;
    background-image: url('../../assets/images/Desktop\ -\ 1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 57px 0;
}

.participate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.participate__register {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.participate__register h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #675AF0;
}

.participate__register span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #8A7E7E;
}

.participate__register__button {
    width: 118px;
    margin-top: 16px;
}

.participate__image {
    width: 478px;
    height: 407px;
    background-image: url('../../assets/images/2293220\ 1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.participate__image img {
    width: 100%;
    height: 100%;
}

.why-mathQuiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.why-mathQuiz__image {
    width: 407px;
    height: 407px;
    background-image: url('../../assets/images/3964546\ 1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.why-mathQuiz__image img {
    width: 100%;
    height: 100%;
}



.why-mathQuiz__info__heading {
    margin-bottom: 31px;
}

.why-mathQuiz__info__heading h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #675AF0;
}

.why-mathQuiz__info__text {
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.why-mathQuiz__info__text span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B2A2A;
}


.my-students {
    width: 100%;
    padding-bottom: 190px;
}

.my-students__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.my-students__heading {
    text-align: center;
    margin-bottom: 30px;
}

.my-students__heading h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #675AF0;
}

.my-students__button {
    width: 129px;
    margin: 0 auto;
}