@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1072px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.home {
    width: 100%;
}

.final-exams {
    height: 450px;
    background: #675AF0;
    display: flex;
    align-items: center;
}

.exams__items {
    display: flex;
    justify-content: space-between;
}

.exams__info h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin-bottom: 19px;
}

.exams__info span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;

    color: #FFFFFF;
}

.info__buttons {
    gap: 16px;
    display: flex;
    margin-top: 45px;
}

.btn__start {
    width: 129px;
}

.btn__more {
    width: 129px;
}



.exams {
    display: flex;
    flex-direction: column;
    background: #F5F5FF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    transform: translateY(-24px);
    border-radius: 8px;
}

.exams__cards {
    padding: 24px 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 16px;
}

.exams__btn {
    width: 129px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.exam__content {
    padding: 24px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.exam__heading {
    margin-bottom: 16px;
}

.exam__heading h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #675AF0;
}



.exam__text {
    margin-bottom: 77px;
}

.exam__text p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #2B2A2A;
}

.exam__icons {
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.exam__info {
    display: flex;
}

.info__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__content:nth-child(2) {
    margin-left: 90px;
    margin-right: 130px;
}


.info__heading span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #8A7E7E;
}

.info__btn {
    width: 83px;
    margin-top: 16px;
}

.mathQuiz__about {
    width: 100%;
    background-image: url('../../assets/images/Desktop\ -\ 1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 57px 0;
}

.participate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #675AF0;
}

.register span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #8A7E7E;
}

.register__btn {
    width: 118px;
    margin-top: 16px;
}

.content__image {
    width: 478px;
    height: 407px;
    background-image: url('../../assets/images/2293220\ 1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content__image img {
    width: 100%;
    height: 100%;
}

.why__mathQuiz {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__image {
    width: 407px;
    height: 407px;
    background-image: url('../../assets/images/3964546\ 1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content__image img {
    width: 100%;
    height: 100%;
}



.info__heading {
    margin-bottom: 31px;
}

.info__heading h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #675AF0;
}

.info__text {
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.info__text span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B2A2A;
}


.students {
    width: 100%;
    padding-bottom: 190px;
}

.students__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.students__heading {
    text-align: center;
    margin-bottom: 30px;
}

.students__heading h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #675AF0;
}

.students__btn {
    width: 129px;
    margin: 0 auto;
}