.exam-start {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    text-align: center;
    margin-bottom: 70px;
}

.form {
    display: flex;
    justify-content: center;
    gap: 65px;
    margin-bottom: 45px;
}

.student-name {
    width: 326px;
}

.exam-time {
    width: 156px;
}

.question-count {
    width: 156px;
}

.image {
    display: flex;
    justify-content: center;
    margin-bottom: 47px;
}

.text {
    margin-bottom: 30px;
}

.text p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}






.btn {
    width: 219px;
    margin: 0 auto;
}