@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1072px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}


.panel-list {
    width: 310px;
    height: 100vh;
    display: flex;
    background: #FFFFFF;
    flex-direction: column;
    box-shadow: 0px 0px 40px -3px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    padding: 50px;
}

.panel-list__title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
}

.panel-list__title h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #675AF0;
}

.dark {
    background: #2B2A2A;
    width: 310px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px -3px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    padding: 50px;
}

.darkList span {
    color: #FFFFFF;
}

ul li {
    width: 100%;
    height: 79px;
}

.nav span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #2B2A2A;
}


.panel__user-profile {
    flex-grow: 1;
}

.nav {
    width: 100%;
    display: flex;
    gap: 14px;
    padding: 12px 0;
    border-radius: 12px;
}
/* .nav svg path{
    fill: red;
} */
.nav:active{
    background-color:#675AF0;
    justify-content: center;
}
.nav:active span{
    color: #FFFFFF;
}
.darkmode {
    width: 60px;
}
