.student {
    width: 24%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 20px;
}

.student__image {
    background: #675AF0;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 120px;
    position: relative;
}

.student img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    outline: 4px solid #675AF0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    object-fit: cover;
}

.student__info {
    height: 249px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    margin-left: 20px;
}

.student__info h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #2B2A2A;
}

.student__info span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #2B2A2A;
}