.user-profile {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 103px;      
}

.heading h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #2B2A2A;
}

.gmail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.gmail span {
    font-style: normal;
    font-weight:600;
    font-size: 16px;
    line-height: 21px;
    color: #2B2A2A;
}